/target/
/test-output/
/logs/
/reports/
/console.txt
.DS_Store
/reportsNewStyle/
/target\generated-sources\annotations/
/target\generated-test-sources\test-annotations/
/doc/
!drivers/chromedriver-*.exe
!drivers/msedgedriver-*.exe
!drivers/geckodriver-*.exe
# Ignore temp/unzipped folders
drivers/**/*
!drivers/*.exe
/.scannerwork
